{% if page_obj.has_other_pages %}
<nav 
  class="pagination is-centered" 
  role="navigation" 
  hx-push-url="true"
  hx-target="#ledgers-table"
  hx-include=".ledger-filter"
  aria-label="pagination">
  {% if page_obj.has_previous %}
    <a 
      hx-get="/ledgers?page={{page_obj.previous_page_number}}"
      class="pagination-previous" >
      Previous
    </a>
  {% endif %}
  {% if page_obj.has_next %}
    <a 
      hx-get="/ledgers?page={{page_obj.next_page_number}}"
      class="pagination-next">
      Next
    </a>
  {% endif %}
  <ul class="pagination-list">
    {% if page_obj.number|add:'-2' > 1 %}
      <li>
        <a 
          hx-get="/ledgers?page=1"
          class="pagination-link"
          >1</a>
      <li>
        <a 
          class="pagination-link" 
          hx-get="/ledgers?page={{ page_obj.number|add:'-3' }}"
          >&hellip;</a>
      </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li>
          <a 
            hx-get="/ledgers?page={{ i }}"
            class="pagination-link is-current" 
            >{{ i }}</a>
        </li>
      {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
        <li>
          <a 
            hx-get="/ledgers?page={{ i }}"
            class="pagination-link"
            >{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
      <li>
        <a 
          hx-get="/ledgers?page={{ page_obj.number|add:'3' }}"
          class="pagination-link" 
          >&hellip;</a>
      </li>
      <li>
        <a 
          hx-get="/ledgers?page={{ page_obj.paginator.num_pages }}"
          class="pagination-link" 
          >
          {{ page_obj.paginator.num_pages }}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
