{% extends "ledgers/base_body.html" %}
{% block body %}

<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
    <h1 class="title">Login</h1>
    <form method="post">
      {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input name="username" class="input {% if form.username.errors %}is-danger{% endif %}" type="text" placeholder="Username">
          </div>
          {% if form.username.errors %}
            {% for error in form.username.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input name="password" class="input {% if form.password.errors %}is-danger{% endif %}" type="password" placeholder="Password">
          </div>
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
      <button class="button" type="submit">Login</button>
    </form>
  </div>
</div>

{% endblock %}
