{% extends "ledgers/base.html" %}
{% block base %}

{% if not form.is_bound or form.errors %}
<div class="modal is-active" id="adjust-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <!-- MODAL CONTENT -->
    <header class="modal-card-head">
      <p class="modal-card-title">Adjust Ledger {{ ledger.sku }}</p>
      <button class="delete" _="on click remove #adjust-modal"></button>
    </header>
    <section class="modal-card-body">

      <form id="adjust-form">
        {{ form.non_field_errors }}
        <div class="field">
          <label class="label">Adjust Quantity</label>
          <div class="control {% if form.count.errors %}has-icons-right{% endif %}">
            <input 
              class="input {% if form.count.errors %}is-danger{% endif %}" 
              type="numbers" 
              placeholder="New Quantity" 
              name="count"
              value="{{ ledger.count }}">

            {% if form.count.errors %}
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            {% endif %}

          </div>
          {% if form.count.errors %}
            <p class="help is-danger">The count cannot be negative.</p>
          {% endif %}
        </div>

        <div class="field">
          <label class="label">Reason</label>
          <div class="is-fullwidth control is-expanded select {% if form.fields.reason.errors %}has-icons-right{% endif %}">
            <select name="reason">
              <option selected disabled>Select a Reason</option>
              {% for value, label in form.reason.field.choices %}
                {% if value == reason_filter %}
                  <option value="{{ value }}" selected>{{ label }}</option>
                {% else %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% if form.reason.errors %}
              {% for error in form.reason.errors %}
                <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle">{{ error }}</i>
                </span>
              {% endfor %}
            {% endif %}

          </div>
        </div>
        
        <div class="field">
          <label class="label">Notes</label>
          <div class="control {% if form.notes.errors %}has-icons-right {% endif %}">
            <input 
              class="input {% if form.notes.errors %}is-danger{% endif %}" 
              type="text" 
              name="notes">

            {% if form.notes.errors %}
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            {% endif %}
          </div>
        </div>
      </form>

    </section>

    <!-- MODAL FOOTER/ACTIONS -->
    <footer class="modal-card-foot buttons is-right">
      <button 
        type="submit" 
        hx-include="#adjust-form"
        hx-post="/adjust-ledger/{{ ledger.id }}"
        hx-target="#adjust-modal"
        hx-swap="outerHTML"
        class="button is-success">Save Changes</button>
      <button class="button" _="on click remove #adjust-modal">Cancel</button>
    </footer>
  </div>

  <!-- CLOSE BUTTON-->
  <button 
    class="modal-close is-large" 
    type="button"
    aria-label="close"
    _="on click remove #adjust-modal"
    >Close</button>
</div>
{% elif form.is_bound and not form.errors %}
  <table class="table is-hoverable is-fullwidth is-striped" id="ledgers-table" hx-swap-oob="true">
    <thead>
      <tr>
        <td>SKU</td>
        <td>Book</td>
        <td>Condition</td>
        <td>Location</td>
        <td>Count</td>
        <td><span class="is-pulled-right">Actions</span></td>
      </tr>
    </thead>
    <tbody>
      {% for ledger in page_obj %}
      <tr>
        <td>{{ ledger.sku }}</td>
        <td>{{ ledger.book }}</td>
        <td>{{ ledger.condition }}</td>
        <td>{{ ledger.location }}</td>
        <td>{{ ledger.count }}</td>
        <td>
          <div class="is-pulled-right">
            <button 
              class="button is-primary"
              hx-get="/adjust-ledger/{{ ledger.id }}" 
              hx-target="#modal-wrapper">Adjust</button>
            <button 
              class="button is-primary"
              hx-get="/move-ledger/{{ ledger.id }}" 
              hx-target="#modal-wrapper">Move</button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock %}
