<!DOCTYPE html>
<html>
  <head>
    <title>Stocker!</title>
    <script src="https://unpkg.com/htmx.org@1.3.1"></script>
    <script src="https://unpkg.com/hyperscript.org@0.0.4"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <style>
      html, body {
        height: 100%;
      }
      img.logo {
        max-height: 5rem;
      }
      .icon.is-very-large {
        height: 5rem;
        width: 5rem;
        font-size: 3em;
      }
      #demo-drawer {
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      #demo-drawer-wrapper {
        transition: height 0.5s;
        height: 300px;
        background: white;
        padding-top: 1rem;
      }
      #demo-drawer-wrapper.content-hidden {
        height: 0px;
        overflow: hidden;
      }
      .fade-in {
        color: red;
        transition: all ease-in 1s;
      }
      .tabs:not(:last-child) {
        margin-bottom: 0; !important
      }
      #notification-container {
        position: fixed;
        left: 60%;
        z-index: 3;
        top: 10%;
      }

    </style>
  </head>
  {% block base %}
  {% endblock %}
</html>
