{% extends "ledgers/base.html" %}
{% load static %}
{% load random_number %}
{% block base %}
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="logo" src="{% static 'logo.png' %}" width="112">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>

          <a class="navbar-item" href="/ledgers">
            Ledgers
          </a>

          <a class="navbar-item" href="/transactions">
            Transactions
          </a>
          <span class="navbar-item"><strong>Random Number: {% random_number 1 100 %}</strong></span>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if not user.is_authenticated %}
                <a class="button is-primary" href="{% url 'signup' %}">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="{% url 'login' %}">
                  Log in
                </a>
              {% else %}
                <a class="button is-light" href="{% url 'logout' %}">
                  Log out
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="pb-6">
      <div class="container">
        {% block messages %}
          <div id="notification-container"></div>
        {% endblock %}
        {% block body %}{% endblock %}
      </div>
    </section>
    <div id="demo-drawer">
      <div class="tabs is-boxed is-medium is-right">
        <ul>
          <li class="is-active">
            <a 
              hx-get="demo-drawer?close=False" 
              hx-target="#demo-drawer">
              <span class="icon is-small">
                <i id="chevron" class="fas fa-chevron-up" aria-hidden="true"></i>
              </span>
              <span>Demo Sandbox</span>
            </a>
          </li>
        </ul>
      </div>
      <div id="demo-drawer-wrapper" class="content-hidden">
      </div>
    </div>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
  </body>
{% endblock %}

