<div id="demo-drawer">
  <div class="tabs is-right is-boxed is-medium">
    <ul>
      <li class="is-active">
        <a 
          hx-get="demo-drawer?close={% if closed %}False{% else %}True{% endif %}" 
          hx-target="#demo-drawer">
          <span class="icon is-small">
            <i 
              id="chevron" 
              class="fas {% if closed %}fa-chevron-up{% else %}fa-chevron-down{% endif %}" 
              aria-hidden="true"></i>
          </span>
          <span>Demo Sandbox</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="demo-drawer-wrapper" {% if closed %}class="content-hidden"{% endif %}>
    <div class="container content is-normal">
      <h1 class="title">Demo Sandbox</h1>
      <button 
        class="button is-primary"
        hx-post="new-acquisition"
        hx-swap="none"
        _="on click toggle [disabled='true'] until htmx:afterOnLoad"
        >Acquire A Book</button>
      <button 
        class="button is-primary"
        hx-post="random-movement"
        hx-swap="none"
        _="on click toggle [disabled='true'] until htmx:afterOnLoad"
        >Move Something Randomly</button>
    </div>
  </div>
</div>
