{% extends "ledgers/base.html" %}
{% block base %}
<div class="modal is-active" id="demo-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <p>This is a demo modal.</p>
    </div>
  </div>
  <button 
    class="modal-close is-large" 
    type="button"
    aria-label="close"
    _="on click remove #demo-modal"
    >Close</button>
</div>
{% endblock %}
