{% load paginator %}

<!-- Paginator -->

<table class="table is-hoverable is-fullwidth is-striped" id="ledgers-table" hx-swap-oob="true">
  <thead>
    <tr>
      <td>SKU</td>
      <td>Book</td>
      <td>Condition</td>
      <td>Location</td>
      <td>Count</td>
      <td><span class="is-pulled-right">Actions</span></td>
    </tr>
  </thead>
  <tbody>
    {% for ledger in page_obj %}
    <tr>
      <td>{{ ledger.sku }}</td>
      <td>{{ ledger.book }}</td>
      <td>{{ ledger.get_condition_display }}</td>
      <td>{{ ledger.location }}</td>
      <td>{{ ledger.count }}</td>
      <td>
        <div class="is-pulled-right">
          <button 
            class="button is-primary"
            hx-get="/adjust-ledger/{{ ledger.id }}" 
            hx-target="#modal-wrapper">Adjust</button>
          <button 
            class="button is-primary"
            hx-get="/move-ledger/{{ ledger.id }}" 
            hx-target="#modal-wrapper">Move</button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="ledger-paginator" class="column is-one-half" hx-swap-oob="true">
  {% paginator page_obj %}
</div>
