{% extends "ledgers/base_body.html" %}
{% load paginator %}
{% block body %}
<h1 class="title">Ledgers</h1>
  <!-- Book Filter -->
<div 
  class="columns filters-wrapper" 
  hx-target="#ledgers-table" 
  hx-include=".ledger-filter"
  hx-push-url="true">
  <div class="column is-one-quarter">
    <input 
      name="book-filter" 
      class="input ledger-filter" 
      type="text" 
      hx-get="ledgers" 
      hx-target="#ledgers-table"
      hx-trigger="keyup changed delay:500ms"
      value="{{ book_filter }}"
      placeholder="Filter by book...">
  </div>

  <!-- Condition Filter -->
  <div class="column is-one-quarter">
    <div class="select">
      <select 
        class="ledger-filter"
        name="condition-filter"
        hx-get="ledgers" 
        hx-target="#ledgers-table"
        value="{{ condition_filter }}"
        >
        <option value="" {% if not condition_filter %}selected{% endif %}>Filter by condition</option>
        {% for value, label in conditions %}
          {% if value == condition_filter %}
            <option value="{{ value }}" selected>{{ label }}</option>
          {% else %}
            <option value="{{ value }}">{{ label }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- Paginator -->
  <div class="column is-one-half" id="ledger-paginator">
    {% paginator page_obj %}
  </div>

</div>

<div id="ledgers-table">
  {% include "ledgers/ledgers_partial.html" %}
</div>

<div id="modal-wrapper"></div>
{% endblock %}
