{% extends "ledgers/base.html" %}
{% block base %}

<div class="dropdown-content">
  {% if locations %}

    {% for location in locations %}
      <a 
        _="on click remove .is-active from .dropdown then
           put '{{location}}' into #to-location.value
           on click elsewhere remove .is-active from .dropdown"
        class="dropdown-item">
        {{ location }}
      <a>
    {% endfor %}

  {% else %}

    <a class="dropdown-item">Nothing found...</a>

  {% endif %}
</div>

{% endblock %}
