{% extends "ledgers/base.html" %}
{% block base %}

{% if not form.is_bound or form.errors %}
  <div class="modal is-active" id="move-modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width:70%">
      <!-- MODAL CONTENT -->
      <header class="modal-card-head">
        <p class="modal-card-title">Move Ledger {{ ledger.sku }}</p>
        <button class="delete" _="on click remove #move-modal"></button>
      </header>
      <section class="modal-card-body pt-6 pb-6">

        <form id="move-form" action="">
          {{ form.non_field_errors }}

          <div class="level pt-6 pb-6">
            <div class="level-item">
              <div>
                <p><strong>Title</strong>: {{ ledger.book }}</p>
                <p><strong>SKU</strong>: {{ ledger.sku }}</p>
                <p><strong>Location</strong>: {{ ledger.location }}</p>
                <p><strong>Existing Quantity</strong>: {{ ledger.count }}</p>
              </div>
            </div>
            
            <div class="level-item">
              <div class="field">
                <div class="control">
                  <input 
                    name="quantity" 
                    type="number"
                    required
                    max="{{ ledger.count }}"
                    _="on keyup 
                        if my.value > {{ ledger.count }} 
                          show .help with opacity
                          add .is-danger to me
                        else
                          hide .help with opacity
                          remove .is-danger from me
                        "
                    class="input is-large" 
                    value="{{ form.quantity.value }}"
                    placeholder="Quantity">
                </div>
                <p class="help is-danger" style="position: absolute; opacity:0;">The quantity to move cannot exceed the quantity currently in this location.</p>
              </div>
            </div>

            <div class="level-item">
              <span class="icon is-very-large">
                <i class="fas fa-angle-double-right"></i>
              </span>
            </div>

            <div class="level-item">
              <div class="field">
                <div class="control">
                  <div class="dropdown">
                    <div class="dropdown-trigger">
                      <input 
                        required
                        name="to_location" 
                        id="to-location"
                        class="input is-large" 
                        type="text" 
                        hx-get="/search-locations"
                        hx-target="#locations-list"
                        hx-trigger="click keyup changed delay:500ms"
                        _="on htmx:afterOnLoad add .is-active to .dropdown"
                        autocomplete="off"
                        value="{{ form.to_location.value }}"
                        placeholder="Destination Location">
                    </div>
                    <div class="dropdown-menu" id="locations-list">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="level-item">
              <p class="mt-1"><strong>New Quantity:</strong> {% if move_quantity > ledger.count %} -- {% else %}{{ new_quantity }}{% endif %}</p>
            </div>

          </div>

        </form>

      </section>

      <!-- MODAL FOOTER/ACTIONS -->
      <footer class="modal-card-foot buttons is-right">
        <button 
          type="submit" 
          hx-include="#move-form"
          hx-post="/move-ledger/{{ ledger.id }}"
          hx-target="#move-modal"
          hx-swap="outerHTML"
          class="button is-success">Save Changes</button>
        <button class="button" _="on click remove #move-modal">Cancel</button>
      </footer>
    </div>

    <!-- CLOSE BUTTON-->
    <button 
      class="modal-close is-large" 
      type="button"
      aria-label="close"
      _="on click remove #move-modal"
      >Close</button>
  </div>
{% elif form.is_bound and not form.errors %}
  <table class="table is-hoverable is-fullwidth is-striped" id="ledgers-table" hx-swap-oob="true">
    <thead>
      <tr>
        <td>SKU</td>
        <td>Book</td>
        <td>Condition</td>
        <td>Location</td>
        <td>Count</td>
        <td><span class="is-pulled-right">Actions</span></td>
      </tr>
    </thead>
    <tbody>
      {% for ledger in page_obj %}
      <tr>
        <td>{{ ledger.sku }}</td>
        <td>{{ ledger.book }}</td>
        <td>{{ ledger.condition }}</td>
        <td>{{ ledger.location }}</td>
        <td>{{ ledger.count }}</td>
        <td>
          <div class="is-pulled-right">
            <button 
              class="button is-primary"
              hx-get="/adjust-ledger/{{ ledger.id }}" 
              hx-target="#modal-wrapper">Adjust</button>
            <button 
              class="button is-primary"
              hx-get="/move-ledger/{{ ledger.id }}" 
              hx-target="#modal-wrapper">Move</button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
