{% if messages %}
  <div id="notification-container" hx-swap-oob="true">
  {% for message in messages %}
    <div class="notification is-primary">
      <button class="delete" _="on click remove my.parentElement"></button>
      {{ message }}
    </div>
  {% endfor %}
  </div>
{% endif %}
