{% extends "ledgers/base_body.html" %}
{% block body %}
<h1 class="title">Transactions</h1>
<div
  class="columns filters-wrapper"
  hx-target="#transactions-table" 
  hx-include=".ledger-filter"
  hx-push-url="true">
  <div class="column is-one-quarter">
    <input 
      name="book-filter" 
      class="input transaction-filter" 
      type="text" 
      hx-get="/transactions" 
      hx-trigger="keyup changed delay:500ms"
      value="{{ book_filter }}"
      placeholder="Filter by book...">
  </div>

  <!-- Condition Filter -->
  <div class="column is-one-quarter">
    <div class="select">
      <select 
        class="transaction-filter"
        name="reason-filter"
        hx-get="/transactions" 
        value="{{ reason_filter }}"
        >
        <option value="" {% if not reason_filter %}selected{% endif %}>Filter by reason</option>
        {% for value, label in reasons %}
          {% if value == reason_filter %}
            <option value="{{ value }}" selected>{{ label }}</option>
          {% else %}
            <option value="{{ value }}">{{ label }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- Paginator -->
{% include "ledgers/transactions_partial.html" %}

<div id="modal-wrapper"></div>
{% endblock %}
