</div>

<table class="table is-hoverable is-fullwidth is-striped" id="transactions-table">
  <thead>
    <tr>
      <td>SKU</td>
      <td>Book</td>
      <td>Created</td>
      <td>Qty</td>
      <td>From</td>
      <td>To</td>
      <td>Reason</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.sku }}</td>
      <td>{{ transaction.book }}</td>
      <td>{{ transaction.created }}</td>
      <td>{{ transaction.quantity }}</td>
      <td>{{ transaction.from_ledger.get_status_display }}</td>
      <td>{{ transaction.to_ledger.get_status_display }}</td>
      <td>{{ transaction.get_reason_display }}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

